.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: whitesmoke;

}
.description{
  width: 35%;
  height: 100%;
  background: rgba(0, 183, 255, 0.562);
  float: left;
}
d1{
  left: 0;
  line-height: 50px;
  margin-top: -100px;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  font-size:large;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(109, 11, 8, 0.808);
}
.login{
  width: 65%;
  height: 100%;
  background: whitesmoke;
  float: right;
}